<div{{ attributes|attributes }}>

  {% if label and label_show %}
    <label class="control-label col-sm-3 col-md-2" for="{{ id }}">{{ label }}</label>
    <div class="col-sm-9 col-md-10">
  {% else %}
    {% if label %}
      <label class="sr-only" for="{{ id }}">{{ label }}</label>
    {% endif %}
    <div class="col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10">
  {% endif %}

    {% if prefix %}{{ prefix }}{% endif %}
    {{ input }}
    {% if suffix %}{{ suffix }}{% endif %}
    {% if description %}<p class="help-block">{{ description }}</p>{% endif %}
  </div>
</div>