<div class="col-md-12">
  {{ top }}
  {% set previous_period = '' %}
  {% for item in list %}
    {% if item.period and item.period != previous_period %}
      <h2>{{ item.period }}</h2>
      {% set previous_period = item.period %}
    {% endif %}
    <div{% if item.unread %} class="notification-unread"{% endif %}>
      <div class="pull-right">{{ item.checkbox }}</div>
      <p class="bg-{{ item.class }}">
        <span class="glyphicon glyphicon-{{ item.image }}"></span>
        {% if item.link %}
          <a href="{{ item.link }}" class="alert-link">
            {{ item.text }}
          </a>
        {% else %}
          {{ item.text }}
        {% endif %}
        <br/>
        <span class="time">{{ item.time|time_diff }}</span>
      </p>
    </div>
  {% else %}
    <p class="alert alert-warning">
      {{ "You have no messages."|trans }}
    </p>
  {% endfor %}
  {% if pager %}
    {{ pager }}
  {% endif %}
</div>
{% if form %}
  {{ render(form) }}
{% endif %}