<!DOCTYPE html>
<html lang="{{ language.language }}" version="XHTML+RDFa 1.0" dir="{{ language.dir }}" class="fix-iframe">
<head profile="{{ grddl_profile }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ head }}
<title>{{ head_title }}</title>
{{ styles }}
{{ scripts }}
</head>
<body{{ attributes }}>
  {{ page }}
  {{ page_bottom }}
</body>
</html>