<table{{ attributes|attributes }}>

  {% if caption %}
    <caption>
      {{ caption }}
    </caption>
  {% endif %}

  {% if colgroups %}
    {% for key, colgroup in colgroups %}
      {% if colgroup is iterable %}
        <colgroup{{ colgroups_attributes[key]|attributes }}>
          {% for col in colgroup %}
            <col{{ col|attributes }}/>
          {% endfor %}
        </colgroup>
      {% else %}
        <colgroup{{ colgroups_attributes[key]|attributes }}></colgroup>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if header|length %}
    <thead>
      <tr>
        {% for key, cell in header %}
          <th{{ header_attributes[key]|attributes }}>
            {{ cell }}
          </th>
        {% endfor %}
      </tr>
    </thead>
  {% endif %}

  {% if rows|length %}
    <tbody>
      {% for key1, row in rows %}
        {% if row|length %}
          <tr{{ rows_attributes[key1]|attributes }}>
            {% for key2, cell in row %}
              <td{{ cells_attributes[key1][key2]|attributes }}>
                {{ cell }}
              </td>
            {% endfor %}
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  {% endif %}
</table>
